@{
    ViewBag.Title = "SignalR";
}

<div class="jumbotron">
    <h2>SignalR Client App</h2>
</div>

<input type="button" id="btnClickMe" value="Click Me!" class="btn btn-danger" />
<input type="button" id="btnGetServerDate" value="Get Hub Server Data" class="btn btn-danger" />

<div class="row">    
    <div id="divWelcomeMsg" class="col-md-12"></div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/mySignalrClient.js"></script>  
}
